<!-- Main Content -->
<main class="content" style="overflow: hidden;">
    <div class="container p-0" style="max-width: 1450px !important; overflow: hidden;">

        <div class="card">
            <div class="row g-0">
                <div class="col-12 col-lg-5 col-xl-3 border-right"
                    style="max-height: 707px; overflow-y: scroll; position: relative; padding: 0px;">

                    <div class="px-4 d-none d-md-block"
                        style="position: sticky; top: 0px; z-index: 1000;background-color: lightgray; width: 100%;">
                        <div class="d-flex align-items-center">
                            <div class="flex-grow-1">
                                <input type="text" class="form-control my-3" placeholder="Search...">
                            </div>
                        </div>
                    </div>

                    <a href="#" class="list-group-item list-group-item-action border-0" *ngFor="let persona of personas"
                        (click)="handleClick($event)">


                        <!-- Tienes que hacer la funcionalidad para cuando llegna mensajes nuevos -->
                        <!-- <div class="badge bg-success float-right" style="color: whitesmoke;">5</div> -->
                        <div class="d-flex align-items-start">
                            <img src="https://bootdey.com/img/Content/avatar/avatar5.png" class="rounded-circle mr-1"
                                alt="Vanessa Tucker" width="40" height="40">
                            <div class="flex-grow-1 ml-3">
                                {{ persona.nombre }}
                                <input type="hidden" id="id" value="{{ persona._id }}" />

                                <div class="small" *ngIf="persona.conectado === 'online'">
                                    <i class="material-icons" style="color: springgreen;">person</i> Online
                                </div>
                                <div class="small" *ngIf="persona.conectado === 'offline'">
                                    <i class="material-icons" style="color: crimson;">person_off</i> Offline
                                </div>
                            </div>
                        </div>
                    </a>
                    <hr class="d-block d-lg-none mt-1 mb-0">
                </div>
                <div class="col-12 col-lg-7 col-xl-9" *ngIf="UsuarioSeleccionado.nombre != '' && !verFerfil "
                    style="min-height: 707px;">
                    <div class="py-2 px-4 border-bottom d-none d-lg-block">
                        <div class="d-flex align-items-center py-1">
                            <div class="position-relative">
                                <img src="https://bootdey.com/img/Content/avatar/avatar3.png"
                                    class="rounded-circle mr-1" alt="Sharon Lessman" width="40" height="40">
                            </div>
                            <div class="flex-grow-1 pl-3">
                                <strong>{{UsuarioSeleccionado.nombre}}</strong>
                                <!-- <div class="text-muted small"><em>Typing...</em></div> -->
                            </div>
                            <div>
                                <!-- <button class="btn btn-primary btn-lg mr-1 px-3"><svg xmlns="http://www.w3.org/2000/svg"
                                            width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-phone feather-lg">
                                            <path
                                                d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z">
                                            </path>
                                        </svg></button> -->
                                <button class="btn btn-info btn-lg mr-1 px-3 d-none d-md-inline-block"
                                    (click)="cerrarChat()">
                                    <i class="material-icons" style="color: whitesmoke;">close</i> Cerrar Chat
                                </button>
                                <button class="btn btn-light border btn-lg px-3" (click)="verPerfil()">
                                    <i class="material-icons" style="color: whitesmoke;">face</i> Perfil
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="position-relative">
                        <div class="chat-messages p-4" id="scrolling-container" #miDiv style="min-height: 520px; ">
                            <div *ngFor="let mensaje of messageList">

 
                                <div class=" {{mensaje.de == infoPerfilSesion._id?'chat-message-right':'chat-message-left'}} pb-4">
                                    <div>
                                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png"
                                            class="rounded-circle mr-1" alt="Chris Wood" width="40" height="40">
                                        <div class="text-muted small text-nowrap mt-2">{{getDateInAMPM(mensaje.fecha)}}
                                        </div>
                                    </div>
                                    <div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
                                        <div class="font-weight-bold mb-1">{{mensaje.de===infoPerfilSesion._id?"Tu":mensaje.de }}</div>
                                        {{mensaje.message}}
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="flex-grow-0 py-3 px-4 border-top">
                        <div class="input-group">
                            <input type="text" class="form-control" id="MensajeInput"
                                placeholder="Escriba un mensaje..." [(ngModel)]="mensaje">
                            <button class="btn btn-primary" (click)="enviarMensaje()">Send</button>
                        </div>
                    </div>

                </div>

                <div class="col-12 col-lg-7 col-xl-9 contenedorEspera"
                    *ngIf="UsuarioSeleccionado.nombre != '' && verFerfil ">
                    
                     

                    <div class="main-content">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="card">
                                        <div class="card-header card-header-danger">
                                            <h4 class="card-title">Perfil de {{UsuarioSeleccionado.nombre}}</h4>
                                            <!-- <p class="card-category">Complete your profile</p> -->
                                        </div>
                                        <div class="card-body">
                                            <form>
                                                <div class="row">
                                                    <div class="col-md-5">
                                                        <mat-form-field class="example-full-width">
                                                            <input matInput placeholder="Nombre" value="{{UsuarioSeleccionado.nombre}}" disabled>
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <mat-form-field class="example-full-width">
                                                            <input matInput placeholder="Genero" value="{{UsuarioSeleccionado.genero == 'M'?'Hombre':UsuarioSeleccionado.genero == 'F'?'Mujer':UsuarioSeleccionado.genero == 'o'?'No binario':''}}" disabled>
                                                        </mat-form-field>
                                                        
                                                    </div>
                                                    <div class="col-md-4">
                                                        <mat-form-field class="example-full-width">
                                                            <input matInput placeholder="Edad" value="{{UsuarioSeleccionado.edad?UsuarioSeleccionado.edad:'???'}}" disabled>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <mat-form-field class="example-full-width">
                                                            <input matInput placeholder="Profesion" value="{{UsuarioSeleccionado.profesion}}" disabled>
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <mat-form-field class="example-full-width">
                                                            <input matInput placeholder="Deporte favorito" value="{{UsuarioSeleccionado.deporte}}" disabled>
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <mat-form-field class="example-full-width">
                                                            <input matInput placeholder="Estado Civil" value="{{UsuarioSeleccionado.estadoCivil}}" disabled>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <mat-form-field class="example-full-width">
                                                            <input matInput placeholder="Correo electronico" value="{{UsuarioSeleccionado.correo}}" disabled>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card-profile">
                                        <div class="card-avatar">
                                            <a href="javascript:void(0)">
                                                <img class="img" src="./assets/img/faces/marc.jpg" />
                                            </a>
                                        </div>
                                        <div class="card-body">
                                            <h4 class="card-title">{{UsuarioSeleccionado.nombre}}</h4>
                                            <p class="card-description">
                                                {{UsuarioSeleccionado.descripcion}}
                                            </p>
                                            <button class="btn btn-light border btn-lg px-3" (click)="noVerPerfil()">
                                                <i class="material-icons" style="color: whitesmoke;">chat</i> Volver Al Chat
                                            </button>
                                            <button class="btn btn-info btn-lg mr-1 px-3 d-none d-md-inline-block" (click)="cerrarChat()">
                                                <i class="material-icons" style="color: whitesmoke;">close</i> Cerrar Perfil
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-12 col-lg-7 col-xl-9 contenedorEspera" *ngIf="UsuarioSeleccionado.nombre == ''">
                    Mostrar Bienvenida
                </div>
            </div>
        </div>
    </div>
</main>
<!-- End of Main Content -->